<h2>Investments</h2>

<table>
  <tr>
    <% if current_user.business %>
      <th>Investor</th>
    <% else  %>
      <th>Business</th>
    <% end %>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @investments.each do |investment| %>
  <tr>
    <% if current_user.business %>
      <td><%= investment.user.name %></td>
    <% else %>
      <td><%= link_to investment.business.name, business_path(investment.business) %></td>
    <% end %>
    <td><%= number_to_currency investment.amount %></td>
    <td><%= link_to "Show", user_investment_path(current_user, investment) %></td>
  </tr>
<% end %>
</table>

<br />
