<h2>Investments</h2>

<table>
  <tr>
    <% if current_user.business %>
      <th>Investor</th>
    <% else  %>
      <th>Business</th>
    <% end %>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @investments.each do |investment| %>
  <tr>
    <% if current_user.business %>
      <td><%= investment.user.name %></td>
    <% else %>
      <td><%= investment.business.name %></td>
    <% end %>
    <td><%= investment.amount %></td>
  </tr>
<% end %>
</table>

<br />
