
<% unless current_user %>

  <div id="vertDiv"></div>
	
	<div id="membership">
		<div id="login">
			<div class="button"><a href="#login" id="loginOpen">Login</a></div><br />
      <div id="loginBox">
        <%= form_tag sessions_path do %>
          <div class="input-bg" id="inputEmail-bg">
            <input type="text" class="textInput" name="email" maxlength="50" title="Email" placeholder="Email" /><br />
          </div>
          
          <div class="input-bg" id="inputEmail-bg">
            <input type="password" class="textInput" name="password" maxlength="50" title="Password" placeholder="Password" /><br />
          </div>
				<input name="commit" id="loginButton" type="submit" value="Login" />
        <% end %>
      </div>
		</div>

    <div id="apply">
      <div class="button">Apply</div>
      <div id="applyChoose">
        <%= link_to "Investor", new_user_path(:role => "Investor"), :id => "applyInvestor" %>
        <br />
        <%= link_to "Entrepreneur", new_user_path(:role => "Entrepreneur"), :id => "applyBusiness" %>
        <br />
      </div>
    </div>

  </div>

<% end %>
