<% if current_user && current_user.role == "Investor" || params[:role] == "Investor" %>
  <h2>Become an Investor</h2>
<% elsif current_user && current_user.role == "Entrepeneur" || params[:role] == "Entrepeneur" %>
  <h2>Become an Entrepeneur</h2>
<% end %>
<%= render 'form' %>

<%= link_to 'Back', users_path %>
